*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PER LAYOUT */
   
      
    .col:nth-of-type(odd){
        background-color: rgb(224, 135, 135);
    }
        .container{
        
        border:1px solid black;
        height: 100px;
    }

.container{
    width: 1024px;
    margin: auto; 
}
.blue-container{
    background-color: #0C325A;
}
.gray-container{
    background-color: #D3D3D3;
}
.row::after {
    content: "";
    clear:both;
    display: table;
}
.col{
    float:left;
}
.row .col-2{
    width: 50%;
}
.row .col-3{
    width: 33%;
}