*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body >*{
    font-family: 'Roboto', sans-serif;
}
.section{
}

.container{
    width: 1024px;
    margin: auto; 
    padding: 25px 50px;
}
.container.blue{
    background-color: #0C325A;
}
.container.gray{
    background-color: #D3D3D3;
}
nav::after{
    content: "";
    display: table;
    clear:both;
}
nav .wrap-logo-img, nav .l-links{
    float: left;
}
nav .r-links{
    float: right;
}
nav ul li {
    display: inline-block;
    list-style: none;  
}
nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    line-height: 60px;
    font-size: 0.7em;
    margin-left: 3px;
    margin-right: 3px;
}
button{
    background-color: #7CBB02;
    color:white;
    font-size: 0.7em;
    border: 1px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 8px 20px;
    margin-left: 3px
}
.btn-login{
    background-color: #0C325A;
}
nav .wrap-logo-img {
    height: 60px;
    width: 100px;
    margin-right: 15px;
}
.logo-img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    padding-bottom: 10px;
}
/* CLEARFIX COLONNE GENERICO */
.row::after {
    content: "";
    clear:both;
    display: table;
}
.col{
    float:left;
}
.row .col-2{
    width: 50%;
}
.row .col-3{
    width: 33%;
}
main article .container.blue{
    background-image: url(img/background-header.png);
    height: 350px;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
main .hero-section .container .row .col-2{
    position: relative;
    height: 350px;
} 
main .hero-section .container .row .col-2 .hero-text{
    position: absolute;
    top: 50%;
    transform: translateY(-75%);

}
main .hero-section .hero-row .col h1{
    color:white;
    font-weight: bold;
    font-size: 32px;
}
button.btn-hero, button.btn-footer{
    margin-top: 15px;
    padding: 15px 20px;
}
main .banner-section .container h3{
    font-weight: bolder;
    text-align: center;
}
main .banner-section .container p{
    text-align: center;  
}
main p {
    color:#A0A0A0;
    line-height: 20px;
    padding-top: 10px;
}
main .c-section .container .row .col-3{
    position: relative;
    height: 350px;
} 
main .c-section .container .row .col-3 img{
    position: absolute;
    width: 100%;
    height:40%;
}
main .c-section .container .row .c-text{
    position:absolute;
    top:40%;
    text-align: center;
    padding:10px 20px;
}
main .c-section .container .row .c-text hr{
    width:20%;
    border: 1px solid #A0A0A0;
    display: inline-block;
}


main .final-section .container .row .col-2{
    height: 350px;
    position:relative;
} 
main .final-section .container .row .col-2 .final-section-text{
    position:absolute;
    top:20px;
    padding-left: 10%;
    padding-right: 25%;
}
.final-section-text p{
    color: #C9C9C9;
}
.final-section-text a {
    color:#99B6D6;
    padding-top:10px;
    display: inline-block;
}

main .final-section .container .row .col-2 .final-section-img{
    width: 100%;
    height: 100%;
}
footer li {
    display: inline-block;
    list-style: none;
    margin-left: 3px;
    margin-right: 3px;
}
footer .clearfix::after{
    content: "";
    display: table;
    clear:both;
}
footer ul {
    float: right;
}
footer h3 {
    line-height: 60px;
}
#btn-help{
    bottom: 0;
    right: 20%;
    position:fixed;
    z-index:1;

}